
/* Application-wide Styles */
h1 {
    color: #369;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 250%;
  }
  h2, h3 {
    color: #444;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
  }
  body {
    margin: 2em;
  }
  body, input[type="text"], button {
    color: #333;
    font-family: Cambria, Georgia, serif;
  }
  button {
    background-color: #eee;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    color: black;
    font-size: 1.2rem;
    padding: 1rem;
    margin-right: 1rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
  }
  button:hover {
    background-color: black;
    color: white;
  }
  button:disabled {
    background-color: #eee;
    color: #aaa;
    cursor: auto;
  }
  
  /* everywhere else */
  * {
    font-family: Arial, Helvetica, sans-serif;
  }

  mat-toolbar{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background: white;
    box-shadow: 0px 1px #B1BFDA;
    
}
  .color{
    color: #021E73;
    font-family: 'Nunito VF Beta', sans-serif;
    font-size: 24px;
    box-shadow: 1px;
  }
ul {
    list-style: none;
  }
  
  li {
    display: inline-block;
    margin-right: 20px;
  }
  a {
    font-family: 'poppins', sans-serif;
    text-decoration: none;
    font-weight: bold;
    color: #021E73;
    &:hover {
      background: #021E73;
      color: white;
      text-decoration: underline;
    }
    &:active{
      background: #021E73;
      color: white;
    }
  }