<!--h2>{{hero.name | uppercase}} Details</h2>
<div><span>id: </span>{{hero.id}}</div>
<div>
    <label for="name">Hero name: </label>
    <input id="name" [(ngModel)]="hero.name" placeholder="name">
  </div-->
  
  <h2>My Heroes</h2>
  <div class="content">
        <mat-card  class="example-card mat-elevation-z4" *ngFor="let hero of heroes" >
          <mat-card-header>
            <img src="{{hero.img}}" class="example-header-image" mat-card-avatar alt="{{hero.name}}">
            <mat-card-title>{{hero.name | uppercase}}</mat-card-title>
            <mat-card-subtitle>{{hero.subtitle}}</mat-card-subtitle>
          </mat-card-header>
          <img mat-card-image src="{{hero.img}}" alt="{{hero.name}}">
          
          <mat-card-actions>
            <button mat-button><mat-icon>favorite</mat-icon></button>
            <a mat-button routerLink="/detail/{{hero.id}}">Details</a>
          </mat-card-actions>
        </mat-card>
  </div>
  <!--app-single-hero [hero]="selectedHero"></app-single-hero >
  <mat-form-field appearance="legacy">
    <mat-label>Hero name:</mat-label>
    <input matInput placeholder="Hero name" #heroName>
    <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
    <mat-hint>Hint</mat-hint>

    <button mat-raised-button type="button" class="add-button" (click)="add(heroName.value); heroName.value=''">
      Add hero
    </button>
  </mat-form-field-->
 